<div class="announcement">
    <a href="membership.html">
        🎉 NOBSJJ just launched in Berlin! Drop by for a free trial lesson
    </a>
</div>
<header>
    <div class="logo-container">
        <a href="index.html" class="logo">
            <img src="res/logo_dark.jpeg" alt="NOBSJJ" width="200" height="200">
        </a>
    </div>
    <nav>
        <div class="nav-links">
            <a href="schedule.html">Schedule</a>
            <!-- <a href="schedule.html">Schedule <span class="note">(subject to change)</span></a> -->
            <a href="membership.html">Join</a>
            <a href="about.html">About</a>
            <!-- <span class="coming-soon">OFF THE MATS (Coming Soon)</span> -->
        </div>
    </nav>
</header>