<header>
    <div class="logo-container">
        <a href="index.html" class="logo">
            <img src="res/logo_dark.jpeg" alt="NOBSJJ" width="200" height="200">
        </a>
    </div>
    <nav>
        <div class="nav-links">
            <a href="index.html" class="home-link">Home</a>
            <a href="curriculum.html">Curriculum</a>
            <!-- <a href="schedule.html">Schedule <span class="note">(subject to change)</span></a> -->
            <a href="membership.html">Join</a>
            <a href="about.html">About</a>
            <!-- <span class="coming-soon">OFF THE MATS (Coming Soon)</span> -->
        </div>
    </nav>
</header>